<template name="categorySubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input name="name" type="text" value="" placeholder="Your Category Name"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<textarea name="description" value="" placeholder="Your Category Description"/>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</template>