<template name="categorySubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="name">名称</label>
			<div class="controls">
				<input name="name" type="text" value="" placeholder="Your Category Name"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">
				描述</label>
			<div class="controls">
				<textarea name="description" value="" placeholder="Your Category Description"/>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</template>