<template name="postEdit">
	{{#with post}}
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" type="text" value="{{title}}" placeholder="
Name your post"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="title">Content</label>
			<div class="controls">
				<textarea name="message" style="width:800px;height:400px;visibility:hidden;">{{showContent}}</textarea>
				{{editor}}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary subm
it"/>
			</div>
		</div>
		<hr/>
		<div class="control-group">
			<div class="controls">
				<a class="btn btn-danger delete" href="#">Delete post</a>
			</div>
		</div>
	</form>
	{{/with}}
</template>